<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LibraryNET</title>

    <!---Librerias para íconos, Font Awesome 4, 5 y Google-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a33530bb41.js' crossorigin='anonymous'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <!---Librerias de Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!---Libreria Sweet Alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Librerias de calendario FlatPicker-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        div.content {
            margin-left: 200px;
            padding: 1px 16px;
            width: 1250px;
            margin-top: 56px;
        }

        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }

        /* Estilos para el sidebar */
        .sidenav {
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

            .sidenav a {
                display: block;
                color: black;
                padding: 16px;
                text-decoration: none;
            }

                .sidenav a.active {
                    background-color: #04AA6D;
                    color: white;
                }

                .sidenav a:hover:not(.active) {
                    background-color: #555;
                    color: white;
                }

        /* Estilos adicionales */

        .navbar {
            --bs-navbar-padding-x: 1rem;
        }

        .navbar-brand {
            margin-left: 50px;
        }

        .submenu {
            display: none;
        }

            .submenu.show {
                display: block;
                padding-left: 40px;
                font-size: smaller;
            }

            .submenu.parent {
                padding-bottom: 10px;
            }

            .submenu a {
                font-size: 15px;
            }

        /* Estilos para los valores de sesión */
        .session-info {
            position: absolute;
            bottom: 10%;
            left: 0;
            width: 100%;
            background-color: #f1f1f1;
            text-align: center;
        }

        /* Estilo contador carrito*/
        .contador-carrito {
            position: absolute;
            right: 7px;
            top: 30px;
            background-color: aqua;
        }
    </style>
</head>
    <body>
        <!-- Navbar superior -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark fixed-top">
            <div class="container">
                @Html.ActionLink("LibraryNET", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>

            <div class="d-sm-inline-flex justify-content-between">
                <div class="row">
                    <ul class="nav flex-grow-2 col-md-4">
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-outline-info" type="button" id="personaButton" title="@Session["UserName"] @Session["UserLName"]" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                                        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                                    </svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#" onclick="Logout()">Cerrar Sesión</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                    <ul class="nav flex-grow-2 col-md-4">
                        <li>
                            <a class="btn btn-sm btn-outline-success btn-icon mr-2" title="Prestamos">
                                <svg fill="#ffffff" height="24px" width="24px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     viewBox="0 0 509.117 509.117" xml:space="preserve">
                                <g transform="translate(1 1)">
                                    <g>
                                        <g>
                                            <path d="M500.965,256.162c-13.017-16.488-39.919-11.281-54.671-1.736l-75.498,50.332H255.378
				                                c-1.736-1.736-2.603-5.207-2.603-7.81c0-3.471,1.736-7.81,4.339-10.414l51.2-17.356c15.62-6.942,28.637-28.637,21.695-45.993
				                                c-2.603-6.075-7.81-11.281-14.753-13.885c-9.546-3.471-21.695-3.471-31.241,0.868l-77.234,26.034l-93.722,8.678
				                                c-6.942,0-18.224,6.942-22.563,9.546l-59.878,25.166c-26.902,12.149-39.051,43.39-26.902,70.292l39.919,97.193
				                                c0.868,2.603,2.603,4.339,5.207,5.207c1.736,0.868,2.603,0.868,3.471,0.868c1.736,0,2.603,0,3.471-0.868l102.4-51.2h154.468
				                                c0.868,0,1.736,0,2.603-1.736l104.136-34.712c0.868,0,1.736,0,2.603-0.868l69.424-52.068
				                                c8.678-6.075,14.753-17.356,16.488-28.637C508.775,272.65,507.039,263.104,500.965,256.162z M490.551,281.328
				                                c-0.868,6.942-4.339,13.885-9.546,17.356l-68.556,51.2l-101.532,33.844H156.449c-1.736,0-2.603,0-4.339,0l-95.458,47.729
				                                l-36.447-88.515c-7.81-18.224,0-39.051,18.224-47.729l60.746-26.034c0.868,0,0.868,0,1.736-0.868
				                                c3.471-2.603,10.414-6.942,13.017-6.942l95.458-8.678c0.868,0,0.868,0,1.736,0l78.969-26.034
				                                c3.471-0.868,6.942-1.736,10.414-1.736c2.603,0,5.207,0,7.81,0.868c2.603,0.868,4.339,2.603,5.207,4.339
				                                c2.603,6.942-4.339,19.959-12.149,23.431l-52.068,17.356c-0.868,0.868-1.736,0.868-2.603,1.736
				                                c-7.81,6.075-12.149,15.62-12.149,26.034c0.868,9.546,5.207,17.356,13.017,22.563c0.868,0.868,2.603,1.736,4.339,1.736h121.492
				                                c1.736,0,3.471-0.868,3.471-1.736l78.102-52.068c9.546-6.075,26.902-8.678,32.108-1.736
				                                C490.551,270.914,491.419,276.121,490.551,281.328z" />
                                            <path d="M60.992,175.457h52.068h34.712h225.627h34.712h52.068c5.207,0,8.678-3.471,8.678-8.678V62.643
				                                c0-5.207-3.471-8.678-8.678-8.678H408.11h-34.712H147.772H113.06H60.992c-5.207,0-8.678,3.471-8.678,8.678v104.136
				                                C52.314,171.985,55.785,175.457,60.992,175.457z M156.449,158.101v-86.78h208.271v86.78H156.449z M451.5,158.101h-34.712v-86.78
				                                H451.5V158.101z M399.433,71.321v86.78h-17.356v-86.78H399.433z M139.094,71.321v86.78h-17.356v-86.78H139.094z M69.67,71.321
				                                h34.712v86.78H69.67V71.321z" />
                                            <path d="M321.331,106.033H199.839c-5.207,0-8.678,3.471-8.678,8.678s3.471,8.678,8.678,8.678h121.492
				                                c5.207,0,8.678-3.471,8.678-8.678S326.538,106.033,321.331,106.033z" />
		                                     </g>
	                                    </g>
                                    </g>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav flex-grow-2 col-md-4">
                        <li>
                            <a class="btn btn-sm btn-outline-warning btn-icon mr-2" title="Carrito" onclick="viewCart()">
                                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="Stockholm-icons-/-Shopping-/-Cart1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                                        <path d="M18.1446364,11.84388 L17.4471627,16.0287218 C17.4463569,16.0335568 17.4455155,16.0383857 17.4446387,16.0432083 C17.345843,16.5865846 16.8252597,16.9469884 16.2818833,16.8481927 L4.91303792,14.7811299 C4.53842737,14.7130189 4.23500006,14.4380834 4.13039941,14.0719812 L2.30560137,7.68518803 C2.28007524,7.59584656 2.26712532,7.50338343 2.26712532,7.4104669 C2.26712532,6.85818215 2.71484057,6.4104669 3.26712532,6.4104669 L16.9929851,6.4104669 L17.606173,3.78251876 C17.7307772,3.24850086 18.2068633,2.87071314 18.7552257,2.87071314 L20.8200821,2.87071314 C21.4717328,2.87071314 22,3.39898039 22,4.05063106 C22,4.70228173 21.4717328,5.23054898 20.8200821,5.23054898 L19.6915238,5.23054898 L18.1446364,11.84388 Z" id="Combined-Shape" fill="#ffffff" opacity="1"></path>
                                        <path d="M6.5,21 C5.67157288,21 5,20.3284271 5,19.5 C5,18.6715729 5.67157288,18 6.5,18 C7.32842712,18 8,18.6715729 8,19.5 C8,20.3284271 7.32842712,21 6.5,21 Z M15.5,21 C14.6715729,21 14,20.3284271 14,19.5 C14,18.6715729 14.6715729,18 15.5,18 C16.3284271,18 17,18.6715729 17,19.5 C17,20.3284271 16.3284271,21 15.5,21 Z" id="Combined-Shape" fill="#ffffff"></path>
                                    </g>
                                </svg>
                            </a>
                            <span class="badge text-black ms-1 rounded-pill contador-carrito bg-light" id="contador_carrito"></span>
                        </li>
                    </ul>
                </div>

            </div>

        </nav>

        <!-- Sidebar -->
        <div class="sidenav">
            <a href='@Url.Action("Index","Home")'>
                <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Stockholm-icons-/-Home-/-Home" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                        <path d="M3.95709826,8.41510662 L11.47855,3.81866389 C11.7986624,3.62303967 12.2013376,3.62303967 12.52145,3.81866389 L20.0429,8.41510557 C20.6374094,8.77841684 21,9.42493654 21,10.1216692 L21,19.0000642 C21,20.1046337 20.1045695,21.0000642 19,21.0000642 L4.99998155,21.0000673 C3.89541205,21.0000673 2.99998155,20.1046368 2.99998155,19.0000673 L2.99999828,10.1216672 C2.99999935,9.42493561 3.36258984,8.77841732 3.95709826,8.41510662 Z M10,13 C9.44771525,13 9,13.4477153 9,14 L9,17 C9,17.5522847 9.44771525,18 10,18 L14,18 C14.5522847,18 15,17.5522847 15,17 L15,14 C15,13.4477153 14.5522847,13 14,13 L10,13 Z" id="Combined-Shape" fill="#000000"></path>
                    </g>
                </svg>
                Inicio
            </a>
            <a href='@Url.Action("BooksList","Books")'>
                <svg width="24px" height="24px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                    <title>ionicons-v5-l</title>
                    <rect x="32" y="96" width="64" height="368" rx="16" ry="16" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px" />
                    <line x1="112" y1="224" x2="240" y2="224" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                    <line x1="112" y1="400" x2="240" y2="400" style="fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px" />
                    <rect x="112" y="160" width="128" height="304" rx="16" ry="16" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px" />
                    <rect x="256" y="48" width="96" height="416" rx="16" ry="16" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px" />
                    <path d="M422.46,96.11l-40.4,4.25c-11.12,1.17-19.18,11.57-17.93,23.1l34.92,321.59c1.26,11.53,11.37,20,22.49,18.84l40.4-4.25c11.12-1.17,19.18-11.57,17.93-23.1L445,115C443.69,103.42,433.58,94.94,422.46,96.11Z" style="fill:none;stroke:#000000;stroke-linejoin:round;stroke-width:32px" />
                </svg>
                Catálogo
            </a>
            <a href="#">Link 3</a>
            <hr />
            @if (Convert.ToInt32(Session["UserId"]) == 1)
            {
                <a href="#" class="parent">
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Stockholm-icons-/-General-/-Settings-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                            <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" id="Combined-Shape" fill="#000000"></path>
                        </g>
                    </svg>
                    Admin
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Stockholm-icons-/-Navigation-/-Angle-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon id="Shape" points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M6.70710678,15.7071068 C6.31658249,16.0976311 5.68341751,16.0976311 5.29289322,15.7071068 C4.90236893,15.3165825 4.90236893,14.6834175 5.29289322,14.2928932 L11.2928932,8.29289322 C11.6714722,7.91431428 12.2810586,7.90106866 12.6757246,8.26284586 L18.6757246,13.7628459 C19.0828436,14.1360383 19.1103465,14.7686056 18.7371541,15.1757246 C18.3639617,15.5828436 17.7313944,15.6103465 17.3242754,15.2371541 L12.0300757,10.3841378 L6.70710678,15.7071068 Z" id="Path-94" fill="#000000" fill-rule="nonzero" transform="translate(12.000003, 11.999999) rotate(-180.000000) translate(-12.000003, -11.999999) "></path>
                        </g>
                    </svg>
                </a>
                <div id="submenu" class="submenu">
                    <a href='@Url.Action("UserList", "Users")'>Usuarios</a>
                    <a href='@Url.Action("GenderList", "Gender")'>Generos</a>
                    <a href='@Url.Action("EditList", "Edit")'>Editoriales</a>
                </div>
            }
            else
            {
                <a href='@Url.Action("BuyList","BuySell")'>
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Stockholm-icons-/-Shopping-/-Bag2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect id="bound" x="0" y="0" width="24" height="24"></rect>
                            <path d="M5.94290508,4 L18.0570949,4 C18.5865712,4 19.0242774,4.41271535 19.0553693,4.94127798 L19.8754445,18.882556 C19.940307,19.9852194 19.0990032,20.9316862 17.9963398,20.9965487 C17.957234,20.9988491 17.9180691,21 17.8788957,21 L6.12110428,21 C5.01653478,21 4.12110428,20.1045695 4.12110428,19 C4.12110428,18.9608266 4.12225519,18.9216617 4.12455553,18.882556 L4.94463071,4.94127798 C4.97572263,4.41271535 5.41342877,4 5.94290508,4 Z" id="Combined-Shape" fill="#000000" opacity="0.3"></path>
                            <path d="M7,7 L9,7 C9,8.65685425 10.3431458,10 12,10 C13.6568542,10 15,8.65685425 15,7 L17,7 C17,9.76142375 14.7614237,12 12,12 C9.23857625,12 7,9.76142375 7,7 Z" id="Oval-28" fill="#000000"></path>
                        </g>
                    </svg>
                    Mis Compras
                </a>
                <a href='@Url.Action("BorrowList","Borrow")'>
                    Mis Prestamos
                </a>
            }

            <div class="session-info">
                @Session["UserName"] @Session["UserLName"]
                <div id="sessionRemainingTime"> </div>
            </div>

        </div>

        <!-- Contenido principal -->
        <div id="main">
            <div class="content">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - LibraryNET</p>
                    </footer>
                </div>
            </div>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                GetCartCount();

                function updateRemainingTime() {
                    $.ajax({
                        url: '@Url.Action("RemainingTime", "Account")',
                        type: 'GET',
                        success: function(response) {
                            if (response === "SessionExpired") {
                                $("#sessionRemainingTime").text("La sesión ha expirado");
                            } else {
                                $("#sessionRemainingTime").text("Tiempo restante de sesión: " + response);
                            }
                        },
                        error: function() {
                            $("#sessionRemainingTime").text("Error al obtener el tiempo restante de sesión");
                        }
                    });
                }

                // Actualizar el tiempo restante cada 1 segundos (1000 milisegundos)
                setInterval(updateRemainingTime, 1000);
            });

            // Función para mostrar/ocultar el submenu al hacer clic en el enlace "Opciones"
            document.addEventListener('DOMContentLoaded', function () {
                var parentLink = document.querySelector('.parent');
                var submenu = document.querySelector('.submenu');

                parentLink.addEventListener('click', function (event) {
                    event.preventDefault(); // Evita la acción predeterminada del enlace

                    // Alternar la clase 'show' en el submenu
                    submenu.classList.toggle('show');
                });
            });

            // Función para mostrar/ocultar el submenu al hacer clic en el botón "Persona"
            document.addEventListener('DOMContentLoaded', function () {
                var personaButton = document.getElementById('personaButton');
                var submenu = personaButton.nextElementSibling; // Obtener el siguiente elemento después del botón

                personaButton.addEventListener('click', function (event) {
                    event.preventDefault(); // Evitar la acción predeterminada del botón

                    // Alternar la clase 'show' en el submenu
                    submenu.classList.toggle('show');
                });
            });

            function viewCart() {
                $.ajax({
                    url: '@Url.Action("FindCart", "Cart")',
                    type: 'GET',
                    success: function (data) {
                        if (data == 1) {
                            location.href = '/Cart/CartDetail';

                        } else {
                            Swal.fire({
                                title: "¡Ups!",
                                text: "No hay elementos en el Carrito",
                                icon: "info"
                            });
                        }
                    },
                    error: function () {
                        alert("Error al obtener el carrito")
                    }
                })
            }

            function Logout() {
                $.ajax({
                    url: '@Url.Action("Logout", "Account")',
                    type: 'GET',
                    success: function () {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timer: 2500,
                            timerProgressBar: true
                        });

                        Toast.fire({
                            icon: "success",
                            title: "Ha finalizado sesión"
                        }).then(function () {
                            location.href = '/Account/Login';
                        });
                    },
                    error: function() {
                    }
                });
            }

            function GetCartCount() {
                $.ajax({
                    url: '@Url.Action("QCart", "Cart")',
                    type: "GET",
                    data: null,
                    dataType: "json",
                    success: function (data) {
                        if (data.cantidad >0) {
                            $(".contador-carrito").text(data.cantidad);
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });
            }
        </script>
    </body>
</html>
