@model IEnumerable<DTO.Buy>

@{
    ViewBag.Title = "Compras";
}

<style>
    /* Estilo del contenedor de transaccion */
    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
        transition: max-height 0.3s ease-out;
        overflow: hidden;
    }

    /* Estilo del coontenido de la transaccion */
    .card-content {
        display: none;
        margin-top: 10px;
    }

    /* Estilo para los valores */
    .card-details {
        margin-top: 10px;
        margin-right: 10px;
        text-align: right;
    }

        .card-details p {
            margin: 5px 0;
        }

    /* Estilo de la imagen en cada item de transaccion */
    .card img {
        width: 50%;
    }

    /* Estilo del label de fechas */
    .label {
        font-weight: bold;
        color: #555;
    }
</style>

<h2>Mis Compras</h2>
<hr />
<div class="panel">
    @if (Model.Count() > 0)
    {
        foreach (var buy in Model.OrderByDescending(a => a.buyDetail.Id).GroupBy(b => b.IdTransaction))
        {
            <div class="card">
                <!-- Header de transacciones -->
                <div class="btn btn-outline-primary" style="text-align:right" onclick="detailCard(this)">
                    <div class="row">
                        <div class="col-md-6" style="text-align:start">
                            Fecha de Compra: @buy.First().BuyDate
                        </div>
                        <div class="col-md-6" style="text-align:end">
                            ID de Pedido: @buy.Key
                        </div>
                    </div>
                </div>
                <!-- Fin header de transacciones -->
                <!-- Card de informacion de Compras -->
                <div class="card card-content">
                    @foreach (var item in buy)
                    {
                        <!-- Fila de cada libro por transaccion -->
                        <div class="row">
                            <div class="col-md-2">
                                <div>
                                    <img class="card-img" src="data:image/jpeg;base64,@Convert.ToBase64String(item.books.BookImage)" onclick="BookDetail(@item.buyDetail.BuyProductId)" style="cursor:pointer">
                                </div>
                            </div>
                            <div class="col-md-10" style="padding:1%">
                                <div class="row">
                                    <h5>@item.books.Title</h5>
                                </div>
                                <div class="row">
                                    <h7>@item.books.Author</h7>
                                </div>
                                <div class="row" style="text-align:end">
                                    <h8>x @item.buyDetail.BuyBookQ</h8>
                                </div>
                                <div class="row" style="text-align:end">
                                    <h8>$@item.buyDetail.BookPrice.ToString("N0")</h8>
                                </div>
                                <hr />
                            </div>
                        </div>
                        <!-- fin fila -->
                        <br>
                    }
                </div>
                <!-- Fin iformacion de Compra -->
                <!-- Detalles de valores -->
                <div class="card-details">
                    <p><span class="label">Subtotal:</span> $@buy.First().TotalBruto.ToString("N0")</p>
                    <p><span class="label">IVA (19%):</span> $@buy.First().IVA.ToString("N0")</p>
                    <p><span class="label">Total:</span> $@buy.First().TotalAmount.ToString("N0")</p>
                </div>
                <!-- Fin detalle de valores -->
            </div>
        }
    }
    else
    {
        <div class="panel-body" style="text-align:center">
            <div class="swal2-icon swal2-info">
                <div class="swal2-icon-content">i</div>
            </div>

            <p>No existen Registros</p>
        </div>
    }
    </div>
<script>
    // Función para mostrar/ocultar las tablas de registros
    function detailCard(header) {
        const card = header.parentElement;
        const content = card.querySelector('.card-content');
        const isExpanded = content.style.display === 'block';

        if (isExpanded) {
            content.style.display = 'none';
        } else {
            content.style.display = 'block';
        }
    }

    // Funcion para redirigir al detalle del libro
    function BookDetail(id) {
        window.location.href = "/Books/BookDetail?bookId=" + id;
    }
</script>

